.messages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages li {
  display: flex;
}

.messages li + li {
  margin-top: 4vh;
}

li.right-side {
  flex-direction: row-reverse;
}

.pic {
  /* background: pink; */
  width: 7vw;
  text-align: center;
}
.pic img {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
  border-radius: 50%;
}


.chat_text {
  background: #fff;
  border-radius: 8px;
  padding: 2vw 5vh;
  max-width: 60%;
  line-height: 1.8;
  position: relative;
}

.chat_text::before {
  content: '';
  width: 0;
  height: 0;
  /* border: 8px solid #fff; */
  border: 8px solid transparent;
  position: absolute;
}

.left-side .chat_text::before {
  top: 12px;
  left: -16px;
  border-right-color: #fff;
}

.right-side .chat_text::before {
  top: 12px;
  right: -16px;
  border-left-color: #fff;
}
.chat_user_name{
  color: black;
}
.chat_user_name:hover{
  text-decoration: none;
}