body{
    margin:0;
    padding:0;
    background-color: #f5f5f5;
}
.background-skyblue{
    background-color: #f5f5f5;
    /*border:solid 1px black;*/
    border-radius:3px;
    padding:5px;
    min-height: 40vh;

}
.background-gray-non-border{
     background-color: #f5f5f5;
     
}
.form-name{
    font-size:3px;
}
.padding{
    padding:3px;
    
}
.list-height{
  padding: 2vw;
}
.list-fontsize{
    font-size:2vw;
}
.margin{
    margin:4px;
}
.text-left{
  text-align: left;
}
.textForm{
    border-radius:5px;
}
.shadow{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}
.container{
    margin:0;
    text-align: center;
    padding:0;

}
.center{
    text-align: center;
}
.list-profile-image{
    width: 7vw;
    height: 7vw;
    border:3px solid ;
    border-radius: 50%;
    object-fit:cover;
    border:4px solid #13b1c0;
}
.user-profile-image{
    width: 5vw;
    height: 5vw;
    border:3px solid ;
    border-radius: 50%;
    object-fit:cover;
    border:4px solid #13b1c0;
  
}
.list{
    background-color: white;
    padding:3vh;
    border-bottom: 1px solid #808080;
}

.button{
    
    background:#13b1c0;;
    color:white;
    margin:1vh;
    border-radius:5px;
    
}
.button-content{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%); /* Safari用 */
    transform: translateY(-50%);
}

.button-delete{
    background:red;
    color:white;
    padding:1vh 1.5vw;
    margin:1vh;
    border-radius:5px;
}
