body{
    margin:0;
    padding:0;
}
.picture-rounded{
    border-radius: 50%;
}
.profile-photo-group{
    height: 4vh;
    width: 4vw;
}
.container{
    margin:0 auto;
    text-align: center;
    background-color: skyblue;
    
}
.shop-img{
    width: 50%;
    border-radius: 5%;
}
.shop-information-list{
    width: 100%;
   
}